<div class="navbarDiv">
  <navbar selectedTeam="Select Team" href="#/"/>
</div>
<div class="mainFrameDiv">
	<table class="imageTable">
		<tr>
			<td>
				<div data-interval="4000" class="carousel slide" id="main-carousel">
					<ol class="carousel-indicators">
						<li ng-repeat="team in teams" data-slide-to="{{$index}}" data-target="#main-carousel" class="{{$index == 0 ? 'active' : ''"></li>
					</ol>
					<div class="carousel-inner">
						<div ng-repeat="team in teams" class="item {{$index == 0 ? 'active' : ''}}">
							<a class="imageAnchor" href="#/team/{{team.id}}">
								<img src="{{team.image}}" class="homePageImage">
								<div class="carousel-caption">
									<h2>Team {{team.name}}</h2>
									<p><span ng-repeat="member in team.members">{{member.name}}{{$last ? '' : ', '}}</span></p>
								</div>
							</a>
						</div>
					</div>
					<a data-slide="prev" data-target="#main-carousel" class="left carousel-control guideMarks">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a data-slide="next" data-target="#main-carousel" class="right carousel-control guideMarks">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>        
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
	angular.element('.carousel').carousel();
</script>
